body {
    width: 98%;
    max-width: 1300px;
    margin: 0 auto;
    background: #fafafa;
}




#nav, #image, #footer{
    margin: 0.14em;
}
/******************************************************/
/* **************    HEADER     **********************/
/*************************************************** */
#nav{

    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

a.highlight:hover {

    color:#4db6ac;
}

li{
    display: inline-block;
    padding: 0.3em;
}
li a {
    text-decoration: none;
    font-family: 'Lobster', fantasy;
    font-size:25px;
    margin-right: 3em;
    color: #ffffff;

}

li .Cake-font{
    font-family: Lobster, fantasy;
    font-size: 28px;
}

#header-img{
    width: 10%;
    height: 10%;

}
/******************************************************/
/* **************    MAIN CONTENT  **********************/
/*************************************************** */




.content-about {
  /*  display:inline-block; */
    display:flex;
    padding-bottom: 1em;


}

.content-about  .cake-main{
    /*width: 400px;
    height: 50%;*/
    flex:1;
}

.content-about #box{
    /* width:68%;
     height:auto;
      float:right;*/
     border: 10px dotted #1de9b6;
     box-sizing: border-box;
     padding: 1.250em;
     flex:1;




 }

section #box p{
   /* font-size: 25px; */
    font-family: 'Inconsolata', serif;
    color:#37474f;
    flex: 1;


}

section #box h2{
    font-size: 40px;
    color:deeppink;
    text-align: center;
    font-family: 'Lobster', fantasy;
}

section #box h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom:40px;
    color:#546e7a;
}



/*Flip-card*/
#Menu{
    display:flex;
    justify-content: space-between;
    margin: 40px auto 0 auto;
    flex-flow: wrap;
}

.container-card{
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-basis: 30%;
}

.mainContainer{
    position: relative;
    width: 250px;
    height: 320px;
    display:flex;


}

.theCard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    flex:1;


}

.theCard:hover{
    transform: rotateY(180deg);
}

#one {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    color: deeppink;
    text-align: center;
    font-size: 40px;
    font-family: Lobster, cursive;

}

#two {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    color: deeppink;
    text-align: center;
    font-size: 40px;
    font-family: Lobster, cursive;
}

#three {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    color: deeppink;
    text-align: center;
    font-size: 40px;
    font-family: Lobster, cursive;

}

.theBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: floralwhite;
    color: #333;
    transform: rotateY(168deg);

}

/******************************************************/
/* **************    Video  **********************/
/*************************************************** */
 .container-videos .videos{
     justify-content: space-between;
     margin: 40px auto 0 auto;
    display: flex;
     flex-flow: wrap;
}
 .video{
     margin-bottom: 20px;
     box-sizing: border-box;
     flex-basis: 30%;
 }
 .container-videos{
     background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
 }

 .container-videos h1{
     text-align: center;
     font-family: Lobster, sans-serif;
     font-size: 35px;
     padding-top: 30px;
     color:deeppink;
 }
#video-one{
    flex:1;
}

#video-two{
    flex:1;
}
/******************************************************/
/* **************       GALLERY    **********************/
 div.gallery{
     max-width: 1400px;
     margin: 40px auto 40px auto;
     display: flex;
     flex-flow: wrap;

 }

 .photo img{
    width: 250px;
     height: 200px;
     transition: transform;
     margin: 0 auto;

 }

 .photo:hover {
     transform: scale(1.25);
 }


#photo-one,
#photo-two,
#photo-three,
#photo-four,
#photo-five,
#photo-six,
#photo-seven,
#photo-eight,
#photo-nine ,
#photo-ten{
    flex:1;
}

/******************************************************/
/* **************    CONTACT    **********************/
/*************************************************** */

div.container-contact{
    max-width: 1400px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.contact-us{
    margin: 15px;
   flex: 1;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    display: inline;

}

.contact-us h2{

    color:deeppink;
}
form label {
    font-size: 20px;
    color:white;
    font-family: 'Lobster', serif;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    margin: 5px;
}
.btn-borde {
    padding: .375rem .75rem;
    border: 2px solid deeppink;
    border-radius: .25rem;
    color: deeppink;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
    color: #ffffff;
    background-color: #d299c2;
}













/******************************************************/
/* **************    FOOTER    **********************/
/*************************************************** */


footer{
    font-family: 'Lobster', serif;
    font-size: 1em;
    color: deeppink;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}