body{
    width: 98%;
    margin: 0 auto;
}



#nav, #image, #footer{
    margin: 0.14em;
}
/******************************************************/
/* **************    HEADER     **********************/
/*************************************************** */
#nav{

    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

a.highlight:hover {

    color:deepskyblue;
}

li{
    display: inline-block;
    padding: 0.3em;
}
li a {
    text-decoration: none;
    font-family: 'Lobster', fantasy;
    font-size:25px;
    margin-right: 3em;
    color: #ffffff;

}

li .Cake-font{
    font-family: Lobster, fantasy;
    font-size: 28px;
}

#header-img{
    width: 10%;
    height: 10%;

}
/******************************************************/
/* **************    MAIN CONTENT  **********************/
/*************************************************** */




section div{
    display:inline-block;


}

section .cake-main{
    width: 400px;
    height: 50%;

}

section #box{
     width:68%;
     height:auto;
     border: 10px dotted #1de9b6;
     box-sizing: border-box;
     padding: 1.250em;
     float:right;



 }

section #box p{
    font-size: 25px;
    font-family: 'Inconsolata', serif;
    color:#37474f;

}

section #box h2{
    font-size: 40px;
    color:deeppink;
    text-align: center;
    font-family: 'Lobster', fantasy;
}

section #box h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom:40px;
    color:#546e7a;
}



/*Flip-card*/
.mainContainer{
    position: relative;
    width: 250px;
    height: 320px;

}

.theCard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.theCard:hover{
    transform: rotateY(180deg);
}

.theFront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;

}

.theBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: floralwhite;
    color: #333;
    transform: rotateY(168deg);

}

/******************************************************/
/* **************    FOOTER    **********************/
/*************************************************** */

footer{
    font-family: 'Lobster', serif;
    font-size: 1em;
    color: #000000;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}